<app-header [isOpen]="showFiller" (stateSidePanel)="openAndClose($event)"></app-header>
<mat-drawer-container class="sidebar" autosize (backdropClick)="backdrop()">
  <mat-drawer
    #drawer
    class="sidenav"
    [mode]="mql.matches ? 'side' : 'over'"
    [opened]="showFiller"
  >
    <h3>Universidad</h3>
    <mat-divider></mat-divider>
    <p>Corporacion Universitaria Rafael Nuñez</p>
    <h3>Menu</h3>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <ng-container *ngFor="let item of menuItem">
        <mat-action-list>
          <button
            mat-list-item
            [routerLink]="['/panel', item.path]"
            routerLinkActive="router-link-active"
            routerLinkActive="active"
          >
            <mat-icon matListIcon>{{ item.icon }}</mat-icon
            >{{ item.name }}
          </button>
        </mat-action-list>
      </ng-container>
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</mat-drawer-container>
