<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
        (click)="handleSidebar()"
      >
        <mat-icon class="" aria-hidden="true" aria-label="toggle side panel"
          >menu</mat-icon
        >
      </button>
      <h2>SSE</h2>
    </div>

    <mat-icon>contact_support</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
